body{
    background-color: darkslategray;
    color: blanchedalmond;
}
h1{
    text-align: center;
    font-weight: bold;
    color: orangered;
}

h2{
    text-decoration: underline;
}

h3{
    text-decoration: underline;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue{
    color: blue;
}
.calm{
    text-align: center;
    font-size: 30px;
    color: darkorange;
}

.inspiration{
    text-align: center ;
    text-decoration: underline;
    color: red;
    font-size: 20px;
}
.table{
    color: orangered;

}
table, th, td {
    color: orangered;
    border: 2px solid;
}
.list{
    position:absolute;
    top: 560px;
    left: 520px;
    color: darkorange;
}

.hobby{
    position: absolute;
    top: 525px;
    left: 550px;
    color: darkorange;
}

.count{
    color: orangered;
    position: absolute;
    top: 525px;
    left: 900px;
}
.count2{
    color: orangered;
    position: absolute;
    top: 560px;
    left: 950px;
    inline-size: 250px;
    overflow-wrap: break-word;
    font-size: larger;
}
.story{
    color: darkorange;
    text-align: center;
}
.story2{
    color: orangered;
    text-align: center;
}
